.home {
  padding: 80px 32px 32px 288px;
  .banner {
    background-color: #f7f7f8;
    border-radius: 12px;
    height: 160px;
    padding: 32px;
    margin: 16px 0px;
    color: white;
    background: radial-gradient(100.99% 100.73% at 0 0,#E1108D 0,#f74ab2 .01%,rgba(0,196,204,0) 100%),radial-gradient(68.47% 129.02% at 22.82% 97.71%,#E1108D 0,rgba(100,32,255,0) 100%),radial-gradient(106.1% 249.18% at 0 0, #E81E62 0,rgba(0,196,204,0) 100%),radial-gradient(64.14% 115.13% at 5.49% 50%,#F23037 0,rgba(100,32,255,0) 100%),#FB340E;
  }
}
